@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'neue-droschke';
    src: url('../fonts/neue_droschke-webfont.woff2') format('woff2'),
         url('../fonts/neue_droschke-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_black';
    src: url('../fonts/beatricedisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_bold';
    src: url('../fonts/beatricedisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beatrice_display_extra_bold';
    src: url('../fonts/beatricedisplay-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_light';
    src: url('../fonts/beatricedisplay-light-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_medium';
    src: url('../fonts/beatricedisplay-medium-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_regular';
    src: url('../fonts/beatricedisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_semibold';
    src: url('../fonts/beatricedisplay-semibold-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_display_thin';
    src: url('../fonts/beatricedisplay-thin-webfont.woff2') format('woff2'),
         url('../fonts/beatricedisplay-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_bold';
    src: url('../fonts/beatrice-bold-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_bold';
    src: url('../fonts/beatrice-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'beatrice_extrabold';
    src: url('../fonts/beatrice-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_extrabold';
    src: url('../fonts/beatrice-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'beatrice_light';
    src: url('../fonts/beatrice-light-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_light';
    src: url('../fonts/beatrice-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'beatrice_medium';
    src: url('../fonts/beatrice-medium-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_regular';
    src: url('../fonts/beatrice-regular-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_regular';
    src: url('../fonts/beatrice-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'beatrice_semibold';
    src: url('../fonts/beatrice-semibold-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatrice_semibold';
    src: url('../fonts/beatrice-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'beatrice_thin';
    src: url('../fonts/beatrice-thin-webfont.woff2') format('woff2'),
         url('../fonts/beatrice-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_lbold';
    src: url('../fonts/glikomodernl_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernl_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_lbold';
    src: url('../fonts/glikomodernl_bold-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernl_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_l';
    src: url('../fonts/glikomodernl_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernl_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_lregular';
    src: url('../fonts/glikomodernl-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_l_black';
    src: url('../fonts/glikomodernlblack_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernlblack_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_l_blackregular';
    src: url('../fonts/glikomodernlblack-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernlblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_l_light';
    src: url('../fonts/glikomodernllight_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernllight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_l_lightregular';
    src: url('../fonts/glikomodernllight-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernllight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_l_medium';
    src: url('../fonts/glikomodernlmedium_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernlmedium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_l_mediumregular';
    src: url('../fonts/glikomodernlmedium-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernlmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_mbold';
    src: url('../fonts/glikomodernm_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernm_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_mbold';
    src: url('../fonts/glikomodernm_bold-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernm_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_m';
    src: url('../fonts/glikomodernm_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernm_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_mregular';
    src: url('../fonts/glikomodernm-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_m_black';
    src: url('../fonts/glikomodernmblack_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmblack_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_m_blackregular';
    src: url('../fonts/glikomodernmblack-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_m_light';
    src: url('../fonts/glikomodernmlight_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmlight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_m_lightregular';
    src: url('../fonts/glikomodernmlight-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_m_medium';
    src: url('../fonts/glikomodernmmedium_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmmedium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_m_mediumregular';
    src: url('../fonts/glikomodernmmedium-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernmmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_sbold';
    src: url('../fonts/glikomoderns_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomoderns_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_sbold';
    src: url('../fonts/glikomoderns_bold-webfont.woff2') format('woff2'),
         url('../fonts/glikomoderns_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_s';
    src: url('../fonts/glikomoderns_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomoderns_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_sregular';
    src: url('../fonts/glikomoderns-webfont.woff2') format('woff2'),
         url('../fonts/glikomoderns-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_s_black';
    src: url('../fonts/glikomodernsblack_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernsblack_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_s_blackregular';
    src: url('../fonts/glikomodernsblack-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernsblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_s_light';
    src: url('../fonts/glikomodernslight_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernslight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_s_lightregular';
    src: url('../fonts/glikomodernslight-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gliko_modern_s_medium';
    src: url('../fonts/glikomodernsmedium_italic-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernsmedium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gliko_modern_s_mediumregular';
    src: url('../fonts/glikomodernsmedium-webfont.woff2') format('woff2'),
         url('../fonts/glikomodernsmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}