body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.master {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  /* margin-top: 25%; */
}

.bottom-row {
  width: fit-content;
  margin: 0px auto;
  display: flex;
}

.user-country-selector {
  width: fit-content;
  margin: 0px auto;
}

.incidence-dot {
  fill: none;
}

.coverage-dot {
  fill: none;
}

text {
  font-size: 1.85em;
}

text.title {
  font-family: "gliko_modern_mbold";
  font-size: 2em;
}

.tick {
  pointer-events: none;
  font-size: 0.7em;
  font-family: "beatrice_regular";
}

path {
  pointer-events: none;
  /* path elements preset for border stroke */
  stroke: rgb(153, 153, 153);
}

.path {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
}

.incidence-path {
  stroke: #0a2979;
}

.coverage-path {
  stroke: #f34616;
}

.tick line {
  stroke: rgb(221, 221, 221);
}

.label {
  z-index: 5;
  font-size: 0.8em;
  color: black;
}

.axis-label {
  font-family: "beatrice_semibold";
}

.moving-label {
  font-family: "beatrice_thin";
}

rect {
  z-index: 10;
}

/* 
.bottom-row {
  display: flex;
}

.bottom-row > * {
  top: -30px;
} */

/* deep blue #0A2979 */
/* bold orange #F34616 */
